<header class="header" >
  <div class="headerp1">
    <div class="kata_header">
      <h1  >Angular Material</h1>
      <h2 > Material Design components for Angular</h2>
    </div>
    <br>
    <div class="docs-header-start">
      <a mat-raised-button>Get started</a>
    </div>
  </div>
</header>
<table border="1">
    <tr>
      <th>----------<h1>One Way Data binding</h1>----------</th>
      <th>----------<h1>Two Way Data binding</h1>----------</th>
    </tr>
    <tr>
      <td><h3><p>wellcome {{nama}}</p></h3></td>
      <td></td>
    </tr>
    <tr>
      <td><h3 innerHTML="{{nama}}"></h3></td>
      <td></td>
    </tr>
  <tr>
    <td><h3>{{"wellcome" + nama}}</h3></td>
  </tr>
  <tr>
    <td><h3>{{nama.length}}</h3></td>
  </tr>
  <tr>
    <td><h3>{{nama.toLocaleUpperCase()}}</h3></td>
  </tr>
  <tr>
    <td><h3>{{nama.toLocaleLowerCase()}}</h3></td>
  </tr>
  <tr>
    <td><h3>{{getTittle()}}</h3></td>
  </tr>
  <tr>
    <td><h3><input type="text" [disabled]="isDisabled"></h3></td>
  </tr>
</table>

